.info-keyword {
  margin: 5px;
  font-weight: bolder;
  color: black;
  display: inline-block;
}

.info-title {
  /* text-decoration: underline; */
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.info-box {
  background: rgb(191, 234, 247);
  border: 1px solid black;
}