

.businessdata-ad {
  margin-top: 50px;
}


.businessdata-count {
  margin-top: 50px;
}


.random-count-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.random-count,
.custom-count {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  margin-left: 5px;
}































