.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.adminform-title {
  font-size: 30px;
  font-weight: bolder;
  
}

.adminform-label {
  font-size: 18px;
}

.adminform-co-name {
  width: 50%;
}

.adminform-prop {
  font-weight: bolder;
  margin-left: 5px;
}

.adminform-input {
margin-left: 8px;
}

.adminform-prev-img {
  width: 150px;
  height: 150px;
}


.adminform-new-img {
  width: 150px;
  height: 150px;
}

.adminform-entry {
  margin-top: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.adminform-btn {
  margin-top: 20px;
}














