.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.adminform-title {
  font-size: 30px;
  font-weight: bolder;
  
}

.adminform-label {
  font-size: 18px;
}

.adminform-co-name {
  width: 50%;
}

.adminform-prop {
  font-weight: bolder;
  margin-left: 5px;
}

.adminform-input {
margin-left: 8px;
}