

.keywordInfo-bar {
    color: blue;
}

.keywordInfo-bar:hover {
    color: rgb(241, 114, 241);
}

.userSearchInfo-bar {
    color: blue;
}

.userSearchInfo-bar:hover {
    color: rgb(241, 114, 241);
}

