.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.newadform-label {
  font-size: 20px;
  font-weight: bold;
}

.newadform-input {
  margin-left: 10px;
}